@font-face {
	font-family: 'FranklinGot';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family: Arial, sans-serif;
}


nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 1;
}
.logo{
    color: #fff;
    font-size: 22px;
    font-family: 'FranklinGot', sans-serif;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease ;
    animation: comming 2s ease;
}


.menu{
  float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: menuPadaet 1s ease forwards ;
    -o-animation: menuPadaet 1s ease forwards;
    animation: menuPadaet 1s ease forwards;
    opacity: 0;
}

.menu li a:visited{
    color: #fff;
}


.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:hover{
    color: #d17700;
    opacity: 1;
}

.menu li a:active{
    transform: scale(1.1);
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2s;
}

section .title_menu{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 100% 90%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;   
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: textCenter 1s forwards ;
    -o-animation: textCenter 1s forwards ;
    animation: textCenter 1s forwards ;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s; 
}


.title__container h1{
    font-size: 45px;
    font-weight: bold;
    
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d
    
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
    
}

.title__container input:hover{
    background: #344051;
    color: white;
    
}

.title__container input:active{
    transform: scale(1.2);

}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes menuPadaet{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes textCenter{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 120px;
    }
}






.about_me h2{
    text-align: center;
    width: 105px;
    font-size: 22px;
    margin: 10px auto;
    
}

.about_me {
    width: 700px;
    margin: 0px auto;
    
}
.about_me img{
    display: block;
    margin: 0px auto;
    
}


.about_me hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto;
}

.about_me p{
    margin-top: 30px;
    opacity: 0;
    -webkit-animation: aboutMe 2s forwards;
    -o-animation: aboutMe 2s forwards;
    animation: aboutMe 2s forwards
}



.about_me .about_me_p2{
    margin-top: 40px;
}

@keyframes aboutMe{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left 0;
    }
}



.about_me .download_rezume{
    display: block;
    height: 30px;
    width: 180px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    font-size: 13px;
    background: url(../img/input.png) 11px 5px/auto no-repeat;
    margin: 50px auto;
    transition: all 0.2s;
    transform: scale(1);
}

.about_me .download_rezume:hover{
    background: #6d7682;
    color: white;
    
}

.about_me .download_rezume:active{
    transform: scale(1.2);

}

.about_me img{
    transition: all 2s;
    transform: rotate(0deg);
}

.about_me img:hover{
    transform: rotate(360deg);
}


.i_can{
    width: 100%;
    height: 50%;
    background: url(../img/bg2.jpg) center/cover fixed no-repeat;
    margin-top: 100px;
}

.what_i_can h2{
    text-align: center;
    width: 150px;
    font-size: 22px;
    margin: 10px auto;
    
}

.what_i_can hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto;
}

.what_i_can{
    width: 850px;
    margin: 0px auto;
}

.skills{
    float: left;
    width: 170px;
    text-align: center;
    margin-right: 40px;
    margin-top: 10%;
    margin-bottom: 50px; 
    opacity: 0;
    -webkit-animation: Skills 1s ease forwards;
    -o-animation: Skills 1s ease forwards;
    animation: Skills 1s ease forwards;
}

.skills:nth-child(1){
    animation-delay: 0.4s;
}

.skills:nth-child(2){
    animation-delay: 1s;
}

.skills:nth-child(3){
    animation-delay: 1.6s;
}

.skills:nth-child(4){
    animation-delay: 2.2s;
}

@keyframes Skills{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}




.clear{
    clear: left;
}

.skills h3{
    color: #d17700;
}

.price h2{
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
}

.price img{
    margin-top: 20px;
}

.price hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto;
}

.price{
    width: 1150px;
    margin: 0px auto;
    text-align: center;
}

.price .div_case{
    float: left;
    width: 520px;
    height: 180px;   
}

.price .div_case input{
    border: 1px solid #63b5ae;
    margin-top: 10px;
    width: 210px;
    height: 35px;
    background: #63b5ae;
    color: #fff;
    transition: all 0.2s;
     transform: scale(1);
}

.price .div_case input:active{
    transform: scale(1.2);
}

.price .div_case input:hover{
    border: 1px solid brown; 
}

.price .div_case h4{
    font-size: 22px;
    margin-top: 15px;
}

.price .div_nameProject{
    width: 1100px;
    height: 110px;
    margin-top: 25px;
}

.price .div_nameProject h4{
    font-size: 22px;
    text-align: left;
}

.price .div_nameProject p{
    text-align: left;
}

.raschet_stoimosti h2{
    font-size: 26px;
    width: 324px;
    margin: 100px auto;
}
.choice h4{
    font-size: 20px;
}
.choice{
     text-align: left;
    margin-top: 35px;
    margin-left: 10%;
    opacity: 0
    -webkit-animation: choice 2s forwards;
    -o-animation: choice 2s forwards;
    animation: choice 2s forwards;
}

.choice select{
    width: 900px;
    height: 56px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px; 
    
}

@keyframes choice{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
    opacity: 1;
        margin-left: 112px;
    }
    
}

.rezultat{
    border-top: 1px solid #000;
    margin: 20px 100px 0px 115px;
    width: 900px;
    text-align: left;
}
.sroki{
    text-align: left;
    
}
.nol1{
   margin-left: 845px;
    font-size: 20px; 
}
.nol2{
    margin-left: 814px;
    font-size: 20px;
}

.statistic{
    width: 100%;
    height: 50%;
    background: url(../img/bg3.jpg) center/cover fixed no-repeat;
    margin-top: 150px;
}
.stat h2{
    text-align: center;
    font-size: 22px;
}

.stat hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto;
}

.statist{
    float: left;
    width: 180px;
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.statist h3{
    margin-top: 15px;
    font-size: 23px;
    font-weight: bold;
}



.statist p{
    margin-top: 15px;
}

.reviews_for_me h2{
    text-align: center;
    font-size: 22px;
    margin-top: 35px;
}

.reviews_for_me hr{
   height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto; 
}

.reviews_for_me {
    text-align: center;
    width: 700px;
    margin-left: 280px;
}

.reviews_for_me .rev_p{
    margin-top: 40px;
}

.reviews_for_me .misha_p{
    margin-top: 40px;
}

.reviews_for_me img{
    margin-top: 20px;
    opacity: 0;
    -webkit-animation: reviews 2s forwards;
    -o-animation: reviews 2s forwards;
    animation: reviews 2s forwards;
}

@keyframes reviews{
    from{
        opacity: 0;
        margin-left: -500px;
        transform: rotate(0deg);
    }
    to{
        opacity: 1;
        margin-left: 0px;
        transform: rotate(360deg);
    }
}

.contacts{
    width: 100%;
    height: 100%;
    background: url(../img/bg4.jpg) center/cover no-repeat;
    margin-top: 150px;

}

.my_contacts h2{
    text-align: center;
    font-size: 22px;
    color: #fff;
    
}

.my_contacts hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 10px auto;
}

.textLorem{
    margin-top:50px;
    color: #fff;
    text-align: center;
}
.inf{
    float: left;
    width: 150px;;
    text-align: center;
    color: #fff;
    margin-left: 210px;
    margin-top: 50px;
    opacity: 0;
    -webkit-animation: INF 3s forwards;
    -o-animation: INF 3s forwards;
    animation: INF 3s forwards;
      
}

@keyframes INF{
    from{
        opacity: 0; 
    }
    
    to{
        opacity: 1;
    }
}




.soobchenie h3{
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.soobchenie .input_t1{
    margin-left: 250px;
    width: 360px;
    height: 40px;
    opacity: 0;
    -webkit-animation: input1 2s forwards;
    -o-animation: input1 2s forwards;
    animation: input1 2s forwards;
}

@keyframes input1{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 250px;
    }
}
    

.soobchenie .input_t2{
    width: 360px;
    height: 40px;
    margin-left: 25px;
}

.soobchenie .input_t3{
   margin-left: 565px;
    margin-top: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 130px;
    height: 45px;
    background: none;
    color: #fff;
    transition: all 0.2s;
    transform: scale(1)
}

.soobchenie .input_t3:hover{
    background-color: white;
    color: black;
}

.soobchenie .input_t3:active{
    transform: scale(1.2);
}


.soobchenie textarea{
    margin-left: 250px;
    margin-top: 17px;
    width: 750px;
    opacity: 0;
    -webkit-animation: textarea1 4s forwards;
    -o-animation: textarea1 4s forwards;
    animation: textarea1 4s forwards;
}

@keyframes textarea1{
    from{
        opacity: 0;
        margin-bottom: -500px;
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}

.kartinki{
    float: left;
    margin-left: 50px;
    margin-bottom: 150px;
    transition: all 0.2s;
    transform-origin: left top;
    transform: rotate(0deg);
}

.kartinki:hover{
    transform: rotate(20deg);
    
}

.vse_kartinki{
    margin-left: 380px;
    margin-top: 150px;
}

.konec{
    width: 100%;
    height: 95px;
    background: #344051;
}

.konec p{
    line-height: 95px;
    padding-left: 500px;
    color: #fff;
}

.imHere{
    width: 100%;
    height: 250px;
    background: url(../img/map.png) center/cover no-repeat;
    opacity: 0;
    transform: scale(0.5);
    -webkit-animation: IMHERE 2s forwards;
    -o-animation: IMHERE 2s forwards;
    animation: IMHERE 2s forwards;
}

@keyframes IMHERE{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.white-btn:visited{
    color: white;
}

