
body{
    font-family: "FranklinGot", sans-serif;
}

main{
    width: 100%;
}


nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 1;
}

.dropdown a{
    color: #fff;
}

.dropdown-menu a{
    color: #000;
}

.logo{
    color: #fff;
    font-size: 22px;
    font-family: 'FranklinGot', sans-serif;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease ;
    animation: comming 2s ease; 
    
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.menu{
  float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: menuPadaet 1s ease forwards ;
    -o-animation: menuPadaet 1s ease forwards;
    animation: menuPadaet 1s ease forwards;
    opacity: 0; 
    
}

.menu li a.active{
    color:red !important;
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #d17700;
}


.menu li a:active{
    transform: scale(1.1);
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2s;
}



@keyframes menuPadaet{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #d17700;
    opacity: 1;
}


.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.main{
     width: 100%;
    height: 100vh;
    background: url(../img/boy.png) 100% 90%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;   
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
     opacity: 0;
    -webkit-animation: textCenter 1s forwards ;
    -o-animation: textCenter 1s forwards ;
    animation: textCenter 1s forwards ;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s; 
}

@keyframes textCenter{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 120px;
    }
}



.title__container h1{
    font-size: 45px;
    font-weight: bold;
}

.title__container h4{
    
    font-size: 22px;
    color: #79818d
    
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 20px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
    
}

.title__container input:hover{
    background: #344051;
    color: white;
    
}

.title__container input:active{
    transform: scale(1.2);

}

.about_me_container h2{
    text-align: center;
    width: 156px;
    font-size: 33px;
    margin: 110px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.about_me_container{
    padding-bottom: 100px;
}

about_me_container p{
    opacity: 0;
}

.about_me_container p.show-animation{
    opacity: 1;
    transition: opacity 1s;
     -webkit-animation: aboutMe_p 1.5s forwards;
    -o-animation: aboutMe_p 1.5s forwards;
    animation: aboutMe_p 1.5s forwards;
}


@keyframes aboutMe_p{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.about_me_container img{
    display: block;
    margin: 0 auto;
 }

.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto 60px;
    opacity: 1;
}



.about_me_container p{
    margin-top: 24px;
    font-size: 17px;
    
}

@media (max-width: 740px){
    .about_me_container p{
        text-align: center;
    }
}

.about_me_container .about_me_p2{
    margin-top: 45px;
}

.about_me_container a{
    display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/input.png) 6%/auto no-repeat;
    padding-left: 18px;
    color: black;
    text-decoration: none;
    transform: scale(1);
    transition: all 0.2s;
   
}



.about_me_container a:hover{
    background: #344051;
    color: white;
}

.about_me_container a:active{
    transform: scale(1.2);
    
}


.i_can{
    background: url(../img/bg2.jpg) center/cover fixed no-repeat;
}

.what_i_can{
    padding-top: 110px;
    padding-bottom: 96px;
}

.what_i_can h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.what_i_can hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0px auto 100px;
    opacity: 1;
}

.skills img{
    margin-bottom: 20px;
    height: 40px;
}

.skills{
    opacity: 0;
}

.skills.show-animation{
    opacity: 1;
    transition: opacity 1s;
    -webkit-animation: Skills 1.5s forwards;
    -o-animation: Skills 1.5s forwards;
    animation: Skills 1.5s forwards;
    
}

@keyframes Skills{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.skills:nth-child(1){
    animation-delay: 0.2s;
} 

.skills:nth-child(2){
    animation-delay: 0.4s;
} 

.skills:nth-child(3){
    animation-delay: 1s;
} 

.skills:nth-child(4){
    animation-delay: 1.4s;
} 

.skills h3{
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}

.skills p{
    font-size: 16px;
}

.clear{
    clear: both;
}

.cases{
    padding-top: 110px;
    padding-bottom: 128px;
}

.cases_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.cases_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
    opacity: 1;
}

.plorem{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.cases_container img{
    width: 100%;
    margin-bottom: 40px;
}

.div_case h4{
    font-size: 25px;
}

.div_case p{
    font-size: 17px;
    margin: 16px 0;
}

.div_case a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    transform: scale(1);
    transition: all 1s;
}

.div_case a:hover{
    background-color: dodgerblue;
}

.div_case a:active{
    transform: scale(1.2);
}

.div_nameProject h4{
     font-size: 25px;
    margin-bottom: 10px;
}

.div_nameProject p{
    font-size: 18px;
}

.stoimost{
    padding-bottom: 84px;
}

.stoimost_container{
    padding-top: 74px;
}

.stoimost_container h2{
    text-align: center;
    max-width: 358px;
    font-size: 43px;
    margin: 0px auto 50px;
}

.calculator{
    max-width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.calculator select{
    margin-bottom: 44px;
}

.calculator hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
    opacity: 1;
}

.stoimostSelect{
    display: block;
    width: 100%;
    max-width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../img/select.png) 98% 54%/auto no-repeat, #eee;
}

.Ss1{
    opacity: 0;
}

.Ss1.show-animation{
    opacity: 1;
    transition: opacity 1s;
    -webkit-animation: Ss1 2s forwards;
    -o-animation: Ss1 2s forwards;
    animation: Ss1 2s forwards;
}

@keyframes Ss1{
    from{
       opacity: 0; 
       margin-left: -500px;
    }
    to{
        opacity: 1;
       margin-left: 0px;
    }
}

.Ss2{
    opacity: 0;
}

.Ss2.show-animation{
    opacity: 1;
    transition: opacity 1s;
    -webkit-animation: Ss2 2s forwards;
    -o-animation: Ss2 2s forwards;
    animation: Ss2 2s forwards;
}

@keyframes Ss2{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

.Ss3{
    opacity: 0;
}

.Ss3.show-animation{
    opacity: 1;
    transition: opacity 1s;
    -webkit-animation: Ss3 2s forwards;
    -o-animation: Ss3 2s forwards;
    animation: Ss3 2s forwards;
}

@keyframes Ss3{
    from{
       opacity: 0; 
       margin-left: -500px;
    }
    to{
        opacity: 1;
       margin-left: 0px;
    }
}

.sroki, .price{
    margin-bottom: 0px;
    font-size: 21px;
}

.calculator_footer p{
    margin-bottom: 0;
}

.calculator_footer .Ptext{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.calculator_footer button{
    width: 200px;
    color: white;
    background-color: cadetblue;
    height: 40px;
    width: 200px;
    transform: scale(1);
    transition: all 0.5s;
}

.calculator_footer button:hover{
    background-color: forestgreen;
}

.calculator_footer button:active{
    transform: scale(1.2);
}

.statistic{
    background: url(../img/bg3.jpg) center/cover fixed no-repeat;
}

.statistic_container{
    margin: 0 auto;
    padding-bottom: 100px;
}

.statistic_container h2{
      text-align: center;
    max-width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    padding-top: 100px;
}

.statistic_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
    opacity: 1;
    
}

.statist img{
    height: 54px;
}

.statist h3{
    font-size: 37px;
    font-weight: 800;
    margin: 34px 0;
}

.statist p{
    font-size: 17px;
    font-weight: 500;
}

.statist{
    opacity: 0;
    -webkit-animation: Statist 2s forwards;
    -o-animation: Statist 2s forwards;
    animation: Statist 2s forwards;
}

@keyframes Statist{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.reviews_container{
    padding-bottom: 140px;
}

.reviews_container h2{
      text-align: center;
    max-width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    padding-top: 100px;   
}

.reviews_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;
    
}

.review{
    text-align: center;
}

.review img{
    margin-bottom: 36px;
}

.rev_p{
  font-size: 17px;
    line-height: 24px;
    margin-bottom: 36px;  
}

.misha_p{
   font-size: 16px;
    line-height: 24px; 
}

.contacts{
    background: url(../img/bg4.jpg) center/cover no-repeat;
    color: white;
}

.contacts_container{
    padding-bottom: 68px; 
}

.contacts_container h2{
    text-align: center;
    max-width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    padding-top: 100px;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
    opacity: 1;
    
}

.textLorem{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px; 
}

.inf img{
    height: 24px;
    margin-bottom: 16px;
}

.inf p{
    font-size: 16px;
}

.inf{
    opacity: 0;
}

.inf.show-animation{
    opacity: 1;
    transition: opacity 1s;
    -webkit-animation: Ainf 2s forwards;
    -o-animation: Ainf 2s forwards;
    animation: Ainf 2s forwards;
}

@keyframes Ainf{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.contacts_container h3{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs.show-animation input{
    height: 34px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
    width: 100%;
    padding-left: 15px;
    opacity: 0;
    transition: all 0.2s;
    -webkit-animation: ContInput 1s forwards;
    -o-animation: ContInput 1s forwards;
    animation: ContInput 1s forwards;
}


@keyframes ContInput{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}



.contacts_inputs .Cinput2{
    float: right;
}

.contacts_container.show-animation textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0;
    transition: all 1s;
    -webkit-animation: Tarea 2s forwards;
    -o-animation: Tarea 2s forwards;
    animation: Tarea 2s forwards;
}

@keyframes Tarea{
    from{
        opacity: 0;
        margin-bottom: -300px;
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}

.contacts_container input[type="button"]{
    display: block;
    margin: 15px auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
    transition: all 0.3s;
    transform: scale(1);
}

.contacts_container input:hover{
    background-color: white;
    color: black;
}

.contacts_container input:active{
    transform: scale(1.2);
}

.vse_kartinki a{
    display: inline-block;
    margin: 0 auto;
}

.vse_kartinki img{
    height: 30px;
}

.kartinki{
    transition: all 0.2s;
    transform-origin: left top;
    transform: rotate(0deg);
}

.kartinki:hover{
    transform: rotate(10deg);
}

.map img{
    display: block;
    width: 100%;  
}

.footer{
    background: #354051;
    height: 94px;
}

.footer_container{
    text-align: center;
    line-height: 94px;
    color: white;
}

@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
    }
    .main{
        position: relative;
    }
    .main:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
        z-index: 1;
    }
    .title__container{
        position: relative;
        z-index: 2;
    }
}

.map img{
    display: block;
    width: 100%;
}

.konec{
    background: #354051;
    height: 94px;
}

.Pkonec{
    text-align: center;
    line-height: 94px;
    color: white;
}


















